<!doctype html>
<html>

<head>
    <title>Help webpage!</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    {{>header}}

    <h1> {{body}}</h1>

    {{>footer}}
</body>

</html>