<!doctype html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <p>
        {{>header}}
        <p>This site was created by Jawhar. It uses data from mapbox.com.</p>
        <image id="mypic" src="../assets/images/mypic.jpeg">


        {{>footer}}
    </p>
</body>

</html>