<!doctype html>
<html>

<head>
    <title>This is the title of the webpage!</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <p>
        {{>header}}
        
        <image id="mypic" src="../assets/images/mypic.jpeg">


        {{>footer}}
    </p>
</body>

</html>